/*universal styles*/
div.nav-bar{
  border-bottom:1px solid #66cc77;
  height:5vh;
  background-color:#7bd389;
  padding:0px;
}
div.col-md-1.nav-logo-container{
  padding-left:15px;
}
.nav-logo{
  height:4.9vh;
  width:auto;
  margin-right:15px;
}
.nav-link{
  color:#151515;
  text-decoration:none;
}
.nav-link:hover{
  color:##0047b3;
  text-decoration:underline;
}
.hero{
  background-color:#aaa;
  height:90vh;
  background-image:url("../images/mint 3.jpg");
  background-repeat:no-repeat;
  background-size:cover;
}
.hero-button{
  margin-top:42vh;
  margin-left:45vw;
}
.content{
  border:1px solid black;
  height:35vh;
}
.content-image{
  border:1px solid black;
  background-color:#aaa;
  height:25vh;
}
.footer{
  height:5vh;
  border-top:1px solid #66cc77;
  background-color:#7bd389;
  color:#151515;
}
/* home styles */

/* shop styles */
div.odd{
  background-color:#d9d9d9;
  color:#151515;
}
.store-background{
  background-color:#151537;
  color:white;
}
.store-item{
  padding-top:1.5vh;
}
.store-item.last::after{
  border:none;
}
.item-thumbnail{
  display:block;
  height:27vh;
  margin-left:auto;
  margin-right:auto;
  margin-top:5vh;
  margin-bottom:5vh;
}
.store-text-container{
  padding-left:15%;
}
/*store item page styles */
.item-page-container{
  height:90vh;
}
.item-page-image{
  height:45vh;
  margin-top:4vh;
  margin-left:30vw;
  margin-bottom:2vh;
}
.item-page-image::after{
}
.item-page-title{
  text-align:center;
  margin: 0 auto;
  padding-top:1vh;
  border-top:2px solid #335;
  width:30vw;
}
.item-page-text{
  width:70vw;
  margin-left:10vw;
  margin-top:1vh;
}
/* editor styles */
