/*universal styles*/
.nav-bar{
  border:1px solid black;
  height:5vh;
}
.nav-link{
  color:#151515;
  text-decoration:none;
}
.nav-link:hover{
  color:##0047b3;
  text-decoration:underline;
}
.hero{
  border:1px solid black;
  background-color:#aaa;
  height:94.99vh;
}
.hero-image{
  padding-top:42vh;
  padding-left:45vw;
}
.content{
  border:1px solid black;
  height:35vh;
}
.content-image{
  border:1px solid black;
  background-color:#aaa;
  height:25vh;
}
.footer{
  height:5vh;
  border-top:1px solid black;
}
/* home styles */

/* shop styles */
.store-item{
  margin-top:3vh;
}
.store-item::after{
  content:"";
  width:65vw;
  border:1px solid #335;
  margin-left:10vw;
  margin-top:3vh;
}
.store-item.last::after{
  border:none;
}
.item-thumbnail{
  margin-left:auto;
  marigin-right:auto
}
.store-text-container{
  padding-left:15%;
}
/*store item page styles */
.item-page-container{
  height:90vh;
}
.item-page-image{
  width:40vw;
  margin-top:4vh;
  margin-left:30vw;
  margin-bottom:2vh;
}
.item-page-image::after{
}
.item-page-title{
  text-align:center;
  margin: 0 auto;
  padding-top:1vh;
  border-top:2px solid #335;
  width:30vw;
}
.item-page-text{
  width:70vw;
  margin-left:10vw;
  margin-top:1vh;
}
/* editor styles */
